<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="binance" class="net.viralpatel.spring.model.Referral">
        <constructor-arg type = "java.lang.String" value = "Binance"/>
        <constructor-arg type = "java.lang.String" value = "http://www.binance.com"/>
        <constructor-arg type = "java.lang.String" value = "101010"/>
        <constructor-arg type = "java.lang.String" value = "Biggest Exchange"/>
        <constructor-arg type = "java.lang.String" value = "$10 in ETH"/>
    </bean>

    <bean id="referrals" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <ref bean="binance" />
            </list>
        </constructor-arg>
    </bean>

</beans>